*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .wave{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fea603;
}
.container .wave span{
    position: absolute;
    width: 325vh;
    height: 325vh;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);
    background: #000000;
}
.container .wave span:nth-child(1){
    animation: Waves 5s linear infinite;
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
}
.container .wave span:nth-child(2){
    animation: Waves 10s linear infinite;
    border-radius: 40%;
    background: rgba(20, 20, 20, 0.5);
}
.container .wave span:nth-child(3){
    animation: Waves 15s linear infinite;
    border-radius: 42%;
    background: rgba(20, 20, 20, 0.5);
}
@keyframes Waves{
    0%{
        transform: translate(-50%,-75%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-75%) rotate(360deg);
    }
}
.container .content{
    position: relative;
    z-index: 1;
    color: #ffffff;
    font-size: 64px;
}